html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

.authorization-bar {
  display: flex;
  font-family: Oxygen;
  background-color: #F2F2F2;
  height: 37px;
  font-size: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  justify-content: flex-end;
  line-height: 35px;
  margin-bottom: 3px;
}

.auth-bar__employee-info-btn {
  position: relative;
  border-style: none;
  font-family: Oxygen;
  padding-left: 10px;
  font-size: 18px;
  height: 37px;
}

.auth-bar__employee {
  position: relative;
  font-family: Oxygen;   
  background-color: inherit;
  border-style: none;
  font-size: 20px;
  height: 37px;
}

.auth-bar__employee-info-btn:focus .sign-out, .auth-bar__employee-info-btn:focus .edit-info{
  display: flex;
  position: absolute;
  height: 50px;
  border-style: none;
}

.auth-bar__employee-info-btn:focus .auth-bar__employee-info-btn__submenu {
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: absolute;
  width: 300px;
  height: 200px;
  right: 0;
  top: 37px;
  background: #F2F2F2;
  box-shadow: -5px 5px 7px rgba(0, 0, 0, 0.25);
}


.auth-bar__empl-info-btn__sub__info {
  height: 50px;
}


.authorization-bar .three-vectors {
  padding-top: 6px;
  width: 25px;
  height: 25px;
}

.menu-bar {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: black;
  padding-left: 5px;
  font-family: Oxygen;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.menu-bar__button-month {
  font-family: Oxygen;
  margin-left: 1%;
  background-color: #ffffff;
  border-style: none;
  font-size: 18px;
  text-align: left;
  height: 40px;
  padding-top: 2px;
}

.menu-bar__button-month:hover {
  border-bottom: 1px solid red;
  background-color: #F2F2F2;
}

.menu-bar__new-event-button {
  margin-left: auto;
  font-family: Oxygen;
  background-color: #ffffff;
  border-style: solid;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-size: 18px;
  height: 30px;
  text-align: center;
  line-height: 10px;
  margin-top: 3px;
  justify-self: end;
  width: 150px;
}

.menu-bar__filter-btn {
  font-size: 18px;
  text-align: center;
  line-height: 10px;
  font-family: Oxygen;
  background-color: #ffffff;
  border-style: none;
  justify-self: end;
  height: 30px;
  width: 150px;
}


.menu-bar__filter-btn:focus .menu-bar__filter-btn__filter-submenu {
  display: flex;
  top: 40px;
  box-shadow: -5px 5px 7px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 150px;
  height: 200px;
  background: #FFFFFF;
}

.menu-bar__filter-btn:focus .filter-correspondence,
.filter-external, .filter-internal, .filter-private {
  position: absolute;
  display: flex;
  visibility: visible;
  font-size: 18px;
  text-align: center;
  font-family: Oxygen;
}

.filter {
  padding-right: 10px;
}

.arrow-down-filter {
  padding-top: 15px;
  width: 15px;
  height: 10px;
}

.menu-bar__mapping-btn {
  margin-right: 1%;
  font-family: Oxygen;
  background-color: #ffffff;
  border-style: none;
  font-size: 18px;
  text-align: center;
  justify-self: end;
}

.menu-bar__mapping-btn .arrow-down-month {
  width: 15px;
  height: 10px;
  padding-left: 2px;
}

.menu-bar__mapping-btn .month {
  width: 15px;
  height: 15px;
  margin-right: 7px;
}

.menu-bar__mapping-btn:focus .menu-bar__mapping-btn__map-submenu {
  display: flex;
  position: absolute;
  width: 150px;
  height: 150px;
  background: #FFFFFF;
  box-shadow: -5px 5px 7px rgba(0, 0, 0, 0.25);
}

.menu-bar__button-year {
  padding-top: 2px;
  font-family: Oxygen;
  background-color: #ffffff;
  border-style: none;
  font-size: 18px;
  text-align: center;
  margin-left: 30px;
}

.menu-bar__filter-btn__filter-submenu,
.menu-bar__mapping-btn__map-submenu, .auth-bar__employee-info-btn__submenu,
.filter-private, .filter-internal, .filter-external, .filter-correspondence,
.days-table__day-submenu, .edit-info, .sign-out{
  display: none;
}

.menu-bar__button-year .arrow-down-year {
  width: 15px;
  height: 10px;
}

.days-table__wkd-bar {
  height: 30px;
  margin-left: 4%;
  margin-right: 9%;
  display: flex;
  justify-content: center;
}

.weekdays-bar__wkd, .weekdays-bar__day-off {
  font-family: Oxygen;
  text-align: center;
  width: 20%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #4F4F4F;
}

.weekdays-bar__day-off {
  background-color: #ECECEC;
}

.days-table {
  display: flex;
  flex-wrap: wrap;
  margin-left: 4%;
  margin-right: 9%;
  height: 80%;
  border: 1px none #4F4F4F;
  border-right-style: solid;
}

.days-table__week {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 20%;
}

.days-table__day, .days-table__day-off{
  width: 20%;
  border: 1px solid #4F4F4F;
  border-top: none;
  border-right: none;
  min-width: 14%;
}

.days-table__day-off{
  background-color: #ECECEC;
}

.days-table__day-off-btn {
  background-color: #ECECEC;
}

.days-table__day-btn__text-container {
  display: flex;
  flex-grow: 0.9;
  align-items: center;
  font-size: 48px;
}

.days-table__day-btn, .days-table__day-off-btn {
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Oxygen;
}
.days-table__day-btn {
border: 2px solid white;
}
.days-table__day-off-btn {
  border: 2px solid #ECECEC;
}

.text {
  margin: 0;
  padding: 0;
  
}
.days-table__day-btn {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.days-table__day-btn__busy-circle {
  background-color: #FD5052;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.current {
  margin: 0;
  color: black;
  font-size: 48px;
  text-decoration: underline #FD5052;
  text-decoration-style: double;
}

.days-table__day-btn:focus .days-table__day-submenu, .days-table__day-off-btn:focus
.days-table__day-submenu {
  display: flex;
  position: absolute;
  width: 300px;
  height: 95px;
    /*TODO: margin for pop up menu*/
  margin-left: 0;
  overflow-scrolling: auto;

  background: #FAFAFA;
  border: 2px solid #333333;
  box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 1px;
}

.days-table__day-btn:hover,
.days-table__day-off-btn:hover {
  border: 2px solid #FD5052;
}

.cal-wind__auth-bar__employee-info:focus, .days-table__day-btn, .menu-bar__mapping-btn,
.auth-bar__employee-info-btn, .menu-bar__new-event-button,
.menu-bar__button-month, .days-table__day-btn,
.auth-bar__employee-info-btn, .menu-bar__filter-btn, .days-table__day-btn,
.days-table__day-off-btn {
  outline: 0;
}
