html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

.cal-wind__authorization-bar {
  font-family: Oxygen;
  background-color: #F2F2F2;
  height: 37px;
  font-size: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  text-align: right;
  padding-top: 5px;
  padding-right: 40px;
  margin-bottom: 3px;
}

.cal-wind__auth-bar__employee-info-btn {
  font-family: Oxygen;   
  background-color: inherit;
  border-style: none;
  font-size: 18px;
  width: 87px;
}

.cal-wind__auth-bar__menu-btn {
  position: absolute;
  background-color: inherit;
  border-style: none;
}

.cal-wind__auth-bar__employee-info-btn:focus, .cal-wind__auth-bar__menu-btn:focus {
  background-color: #DADADA;
}

.cal-wind__authorization-bar #three-vectors {
  padding-top: 6px;
  width: 25px;
  height: 25px;
}

.cal-wind__upper-bar-months {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: black;
  padding-left: 5px;
  font-family: Oxygen;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-wrap: wrap;
}

.cal-wind__up-bar__button-month {
  font-family: Oxygen;
  background-color: #ffffff;
  border-style: none;
  font-size: 18px;
  text-align: left;
  height: 40px;
  padding-top: 2px;
}

.cal-wind__up-bar__button-month:hover {
  border-bottom: 1px solid red;
  background-color: #F2F2F2;
}

.cal-wind__up-bar__new-event-button {
  margin-right: 2%;
  font-family: Oxygen;
  background-color: #ffffff;
  border-style: solid;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-size: 18px;
  height: 30px;
  text-align: center;
  line-height: 10px;
  margin-top: 3px;
  float: right;
  width: 150px;
}

.cal-wind__up-bar__mapping-button {
  margin-right: 1%;
  font-family: Oxygen;
  background-color: #ffffff;
  border-style: none;
  font-size: 18px;
  text-align: center;
  float: right;
}

.cal-wind__up-bar__mapping-button #arrow-down-month {
  width: 15px;
  height: 10px;
  padding-left: 2px;
}

.cal-wind__up-bar__mapping-button #month {
  width: 15px;
  height: 15px;
  padding-right: 7px;
}

.cal-wind__up-bar__button-year {
  font-family: Oxygen;
  background-color: #ffffff;
  border-style: none;
  font-size: 18px;
  text-align: center;
  padding-left: 30px;
}

.cal-wind__up-bar__button-year #arrow-down-year {
  width: 15px;
  height: 10px;
}

.cal-wind__days-table {
  width: 100%;
  height: 85%;
}

.cal-wind__days-table__day-btn {
  font-size: 48px;
  background-color: #ffffff;
  border-style: none;
  width: 101%;
  height: 101%;
}

.cal-wind__days-table__day-btn:hover {
  border-style: solid;
  border-color: red;
}

th {
  font-family: Oxygen;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #4F4F4F;
  height: 2%;
  border: 1px solid transparent;
}

table {
  width: 87%;
  height: 100%;
  margin-left: 6%;
  margin-right: 10%;
  display: table;
  table-layout: fixed;
  font-family: Oxygen;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-wrap: wrap;
  border-collapse: collapse;
  border: 1px solid black;
}

td {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
}

.cal-wind__day {
  font-size: 48px;
}

.tabcontent #employee-info:hover {
  width: 30%;
  height: 200px;
}

.cal-wind__auth-bar__employee-info:focus, .cal-wind__days-table__day-btn,
.cal-wind__up-bar__button-year, .cal-wind__up-bar__mapping-button,
.cal-wind__auth-bar__employee-info-btn, .cal-wind__up-bar__new-event-button,
.cal-wind__up-bar__button-month, .cal-wind__days-table__day-btn,
.cal-wind__auth-bar__menu-btn {
  outline: 0;
}
